
<h1 mat-dialog-title>Add Staff</h1>
<div mat-dialog-content>
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
    <mat-form-field>
      <input matInput formControlName="userName" placeholder="User Name">
      <mat-error *ngIf="employeeForm.get('userName')?.hasError('required')">User Name is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="email" placeholder="Email">
      <mat-error *ngIf="employeeForm.get('email')?.hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="employeeForm.get('email')?.hasError('email')">Please enter a valid email address</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="password" placeholder="Password">
      <mat-error *ngIf="employeeForm.get('password')?.hasError('required')">Password is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="contact" placeholder="Contact">
      <mat-error *ngIf="employeeForm.get('contact')?.hasError('required')">Contact is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="role" placeholder="Role">
      <mat-error *ngIf="employeeForm.get('role')?.hasError('required')">Role is required</mat-error>
    </mat-form-field>
  </form>

  <div mat-dialog-actions>
    <button mat-raised-button type="submit" color="primary" [disabled]="employeeForm.invalid" (click)="onSubmit()">Add</button>
    <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
  </div>

</div>